<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.kemmer.df-kpm-rebalance-engine</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/make/Projects/dark-factories/df-kpm-rebalance-engine/scripts/run-df-kpm-rebalance-engine-mac.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>6</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/make/.df-kpm-rebalance-engine/launchagent.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/make/.df-kpm-rebalance-engine/launchagent.err</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>DF_KPM_REBALANCE_REAL_ENABLED</key>
    <string>false</string>
  </dict>
</dict>
</plist>
